{
  "presets": [
    "@babel/preset-react",
    "@babel/preset-typescript",
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "corejs": "2.0.0",
        "targets": {
          "esmodules": true
        }
      }
    ]
  ]
}
